extends layout

block content
  h2 welcome to hell!
  p.devicePrompt is this device going to display the dashboard, or will you be playing from here?
  button.deviceDash dashboard
  button.devicePlayer player
  script(src='/javascripts/welcome.js')

